<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
  <div class="container-fluid">
    <button class="btn-bar" (click)="onToggleVavbar()"><i class="fa fa-bars"></i></button>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Link</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link">Link</a>
        </li>
      </ul>
      <h1 class="navbar-brand" >M.R</h1>
    </div>
  </div>
</nav>